@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
$dark: hsla(230, 8%, 15%,1);
$lightBlue: hsla(210, 93%, 95%, 1);
$light: #fafafa;
$montserrat: 'Montserrat', sans-serif, system-ui;